<!DOCTYPE html>
<html lang="en" ng-app="explorer">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <%= stylesheet_link_tag    "explorer", :media => "all" %>
    <%= javascript_include_tag "explorer" %>
  </head>
  <body>
    <div id="main-menubar" class="container-fluid fullsize">
      <be-navbar></be-navbar>
    </div>

    <div id="display-area" class="container-fluid">
      <div ui-view></div>
    </div>

  </body>
</html>